<nz-table nzTemplateMode>
  <thead>
    <th>{{ "Rạp" | translate }}</th>
    <th>{{ "Vé" | translate }}</th>
    <th>{{ "Doanh thu" | translate }}</th>
    <th>{{ "Hiệu suất ghế" | translate }}</th>
    <th>{{ "Tỷ lệ hủy" | translate }}</th>
  </thead>
  <tbody>
    @for (item of data; track item) {
      <tr>
        <td>{{ item.theater }}</td>
        <td>{{ item.tickets }}</td>
        <td>{{ item.revenue }}</td>
        <td>{{ item.seat }}</td>
        <td>{{ item.cancel }}</td>
      </tr>
    }
  </tbody>
</nz-table>
