<div class="min-h-screen bg-slate-50 py-10 px-4 sm:px-6 lg:px-5">
  <!-- TITLE -->
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-8"
  >
    <div>
      <h1 class="text-2xl font-bold text-gray-900 mb-0">
        {{ "Quản Lý Suất Chiếu" | translate }}
      </h1>
      <p class="text-gray-500 text-sm mt-1">
        {{ "Quản lý danh sách và lịch chiếu phim" | translate }}
      </p>
    </div>
    <button
      nz-button
      nzType="primary"
      nzShape="circle"
      class=""
      (click)="openModal('add')"
    >
      <nz-icon nzType="plus" nzTheme="outline" />
    </button>
  </div>

  <!-- FORM FILTER -->
  <div class="bg-white rounded-xl border border-gray-200 shadow-sm p-5 mb-6">
    <form
      [formGroup]="form"
      class="flex flex-col md:flex-row gap-4 items-end md:items-center"
    >
      <nz-form-item class="mb-0 flex-1 w-full md:w-auto">
        <nz-form-label nzRequired>{{ "Rạp chiếu" | translate }}</nz-form-label>
        <nz-form-control>
          <nz-select
            class="w-full"
            [nzPlaceHolder]="'Rạp chiếu' | translate"
            nzShowSearch
            nzAllowClear
            formControlName="theaterId"
          >
            @for (t of theaters(); track t.id) {
              <nz-option [nzLabel]="t.name" [nzValue]="t.id"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label class="font-semibold text-gray-700"
          >{{ "Khoảng thời gian" | translate }}
        </nz-form-label>
        <nz-form-control>
          <nz-range-picker
            class="w-full"
            formControlName="dateRange"
            [nzPlaceHolder]="['Từ ngày' | translate, 'Đến ngày' | translate]"
          >
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>

      <div class="flex gap-2">
        <button nz-button nzType="default" (click)="resetForm()">
          <nz-icon nzType="reload" />
        </button>
      </div>
    </form>
  </div>

  <!-- TABLE -->
  @let errorMsg = error();
  @let pag = pagination();
  <app-loading [isLoading]="loading()">
    <div
      class="bg-white rounded-2xl border border-gray-200 shadow-sm p-6 overflow-hidden"
    >
      <nz-table
        [nzData]="showtimes()"
        [nzFrontPagination]="false"
        [nzTotal]="pag?.totalElements || 0"
        [nzPageIndex]="(pag?.pageNumber ?? 0) + 1"
        [nzPageSize]="pag?.pageSize ?? 10"
        [nzShowSizeChanger]="true"
        nzShowPagination
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            @for (item of headerColumn; track item) {
              <th
                [nzWidth]="'300px'"
                [nzAlign]="'center'"
                class="font-semibold text-gray-700"
              >
                {{ item | translate }}
              </th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of showtimes(); track item.id) {
            <tr
              class="group hover:bg-gray-50 transition-colors border-b border-gray-100"
            >
              <td class="pl-6 py-4">
                <div class="flex items-start gap-4">
                  <!--  Poster  -->
                  <div
                    class="w-12 h-16 rounded overflow-hidden shadow-sm shrink-0 border border-gray-200"
                  >
                    <img
                      class="w-full h-full object-cover group-cover:scale-110 transition-transform duration-500"
                      [src]="item.moviePosterUrl"
                      [alt]="item.movieTitle"
                      loading="lazy"
                    />
                  </div>

                  <!--   Text Info  -->
                  <div class="flex flex-col gap-1">
                    <h4
                      class="font-bold! text-gray-800 text-sm line-clamp-2 leading-tight"
                      [title]="item.movieTitle"
                    >
                      {{ item.movieTitle }}
                    </h4>
                  </div>
                </div>
              </td>

              <!--     SCHEDULE         -->
              <td class="text-center">
                <div class="flex flex-col items-center">
                  <nz-tag
                    [nzColor]="'blue'"
                    class="mb-0 font-bold text-sm border-blue-200 px3"
                  >
                    {{ item.showTime }}
                  </nz-tag>
                  <span class="text-xs text-gray-500 mt-1.5 font-medium">
                    {{ item.showDate | date: "dd/MM/yyyy" }}
                  </span>
                </div>
              </td>

              <!--    LOCATION   -->
              <td lass="text-center">
                <div class="flex flex-col items-center gap-1">
                  <span
                    class="font-semibold text-gray-700 flex items-center gap-1"
                  >
                    <nz-icon nzType="shop" class="text-gray-400" />
                    {{ item.theaterName }}
                  </span>
                  <span
                    class="text-xs text-gray-400 truncate max-w-[220px]"
                    nz-tooltip
                    [nzTooltipTitle]="item.theaterLocation"
                  >
                    {{ item.theaterLocation }}
                  </span>
                </div>
              </td>

              <td class="text-center">
                <div class="flex flex-col items-center gap-1">
                  <div class="text-sm">
                    <span
                      [class]="
                        item.availableSeats > 0
                          ? 'text-green-600 font-bold'
                          : 'text-red-500 font-bold'
                      "
                    >
                      {{ item.availableSeats }}
                    </span>
                    <span class="text-gray-400 text-xs">
                      / {{ item.totalSeats }} ghế</span
                    >
                  </div>

                  <nz-progress
                    [nzPercent]="
                      ((item.totalSeats - item.availableSeats) /
                        item.totalSeats) *
                      100
                    "
                    [nzShowInfo]="false"
                    nzSize="small"
                    [nzStrokeColor]="{ '0%': '#87d068', '100%': '#108ee9' }"
                    class="w-24"
                  >
                  </nz-progress>
                </div>
              </td>

              <td nzRight class="text-center">
                <div class="flex justify-center gap-2">
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="Xem chi tiết"
                    (click)="openModal('view', item.id)"
                  >
                    <nz-icon nzType="eye" nzTheme="twotone" />
                  </button>
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="Xem chi tiết"
                    (click)="openModal('edit', item.id)"
                  >
                    <nz-icon
                      nzType="edit"
                      nzTheme="twotone"
                      nzTwotoneColor="#52c41a"
                    />
                  </button>
                  <button
                    nz-button
                    nzType="text"
                    nzShape="circle"
                    nz-tooltip
                    nzTooltipTitle="Xem chi tiết"
                    (click)="onDelete(item.id)"
                  >
                    <nz-icon
                      nzType="delete"
                      nzTheme="twotone"
                      nzTwotoneColor="#e7000b"
                    />
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </app-loading>
  @if (errorMsg) {
    <nz-alert nzType="error" [nzMessage]="errorMsg" nzShowIcon nzCloseable>
    </nz-alert>
  }
</div>
