<div class="hidden md:flex items-center gap-2 group">
  <nz-icon
    nzType="environment"
    nzTheme="outline"
    class="text-primary text-lg"
  />

  <a
    nz-dropdown
    [nzDropdownMenu]="cinemaMenu"
    nzTrigger="click"
    class="flex items-center gap-2 font-bold text-gray-700 hover:text-primary transition-colors py-2 cursor-pointer select-none"
  >
    <span class="max-w-[200px]">
      {{ selectTheaterName$ | async }}
    </span>
    <nz-icon
      nzType="down"
      class="text-xs text-gray-400 group-hover:text-primary"
    />
  </a>

  <nz-dropdown-menu #cinemaMenu="nzDropdownMenu">
    @if (theaters$ | async; as theaters) {
      <ul
        nz-menu
        class="w-full max-h-64 overflow-y-auto p-2 border border-gray-100 mt-2 my-2 rounded-xl shadow-xl"
      >
        @for (theater of theaters; track theater.id) {
          <li
            nz-menu-item
            class="font-medium hover:bg-blue-50 hover:text-primary transition-colors px-6 py-3"
            (click)="onSelect(theater.id)"
            [nzSelected]="(selectedTheaterId$ | async) === theater.id"
          >
            {{ theater.name }}
          </li>
        }
      </ul>
    }
  </nz-dropdown-menu>
</div>
