<div
  class="bg-white rounded-xl overflow-hidden shadow-sm border border-gray-200 sticky top-24"
>
  <!--  HEADER -->
  <div class="relative h-32 bg-gray-900 overflow-hidden group">
    <div
      class="absolute inset-0 bg-cover bg-center opacity-50 blur-sm scale-110"
      [style.backgroundImage]="
        'url(' + ((filmDetail$ | async)?.poster || '') + ')'
      "
    ></div>
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/90 via-black/20 to-transparent"
    ></div>
    <div class="relative z-10 p-4 flex gap-4 h-full items-end">
      <img
        [src]="(filmDetail$ | async)?.poster"
        [alt]="(filmDetail$ | async)?.title"
        class="w-20 h-28 object-cover rounded-lg shadow-lg border-2 border-white/20 -mb-2 bg-gray-800 shrink-0"
      />

      <div class="pb-1 text-white flex-1 win-w-0">
        <h1
          class="text-base font-bold text-gray-300! leading-tight truncate"
          [title]="(filmDetail$ | async)?.title"
        >
          {{ (filmDetail$ | async)?.title }}
        </h1>

        <p class="text-[10px] text-gray-300 mt-1 truncate">
          {{ (filmDetail$ | async)?.genres?.join(", ") }}
        </p>
      </div>
    </div>
  </div>

  <!--  INFORMATION-->
  <div class="px-5 pt-8 pb-5 space-y-5">
    <!--  THEATER & TIMES  -->
    <div class="space-y-3">
      <div
        class="flex justify-between items-center border-b border-gray-100 pb-2"
      >
        <span class="flex-xs text-gray-500 font-medium uppercase">{{
          "Rạp chiếu" | translate
        }}</span>
        <span class="text-sm font-bold text-gray-500">{{
          (theater$ | async)?.name
        }}</span>
      </div>

      <div
        class="flex justify-between items-center border-b border-gray-100 pb-2"
      >
        <span class="text-xs text-gray-500 font-medium uppercase">{{
          "Suất chiếu" | translate
        }}</span>
        <div class="text-right">
          <span class="block text-sm font-bold text-primary">{{
            timeFormat((showtime$ | async)?.showTime)
          }}</span>
          <span class="block text-[10px] text-gray -400">{{
            (showtime$ | async)?.showDate | date: "dd/MM/yyyy"
          }}</span>
        </div>
      </div>
    </div>

    <!-- SELECTED SEAT-->
    <div
      class="bg-blue-50/50 rounded-lg p-3 border border-blue-100 border-dashed"
    >
      <div class="flex justify-between items-start mb-2">
        <span
          class="text-xs text-gray-500 font-bold uppercase flex items-center gap-1"
        >
          <nz-icon nzType="appstore" />
          {{ "Ghế ngồi" | translate }}
        </span>

        @if ((selectedSeats$ | async)?.length) {
          <span
            class="text-[10px] bg-white px-1.5 py-0.5 rounded border border-blue-100 text-blue-600 font-bold"
          >
            {{ (selectedSeats$ | async)?.length }} vé
          </span>
        }
      </div>

      <div class="text-right">
        @if ((selectedSeats$ | async)?.length) {
          <div class="flex flex-wrap justify-end gap-1.5">
            @for (seat of selectedSeats$ | async; track seat) {
              <span
                class="inline-block bg-white text-primary border border-blue-200 px-2 py-1 rounded text-xs font-bold shadow-sm"
              >
                {{ seat }}
              </span>
            }
          </div>
        } @else {
          <p class="text-xs text-gray-400 italic">
            {{ "Vui lòng chọn ghế trên sơ đồ" | translate }}
          </p>
        }
      </div>
    </div>

    <!--  TOTAL  -->
    <div>
      <div class="flex justify-between items-end mb-2">
        <span class="text-sm text-gray-600 font-medium">{{
          "Tổng cộng" | translate
        }}</span>
        <span class="text-xl font-extrabold text-orange-600 leading-none">
          {{ totalPrice$ | async | currency: "VND" }}
        </span>
      </div>

      <!-- COUNTDOWN   -->
      <div
        class="flex items-center justify-center gap-2 bg-red-50 py-2 rounded text-red-600 text-xs font-bold border border-red-600"
      >
        <nz-icon nzType="clock-circle" />
        <span>{{ "Thời gian giữ vé" | translate }}</span>
        <app-countdown />
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="p-4 bg-gray-50 border-t border-gray-200 grid grid-cols-3 gap-3">
    <!-- TURN BACK   -->
    @if (index() > 0) {
      <button
        nz-button
        nzType="default"
        class="col-span-1 rounded-lg h-10 font-semibold border-gray-300 hover:text-gray-800"
        (click)="prevStep()"
      >
        <nz-icon nzType="arrow-left" />
        Trở về
      </button>
    } @else {
      <div class="col-span-1"></div>
    }

    <!-- CONTINUE   -->
    <button
      nz-button
      class="col-span-2 rounded-lg h-10 font-bold shadow-md transition-all"
      [nzType]="index() === steps().length - 1 ? 'primary' : 'primary'"
      [class.bg-green-600]="index() === steps().length - 1"
      [class.borer-green-600]="index() === steps().length - 1"
      (click)="index() === steps().length - 1 ? saveSeats() : nextStep()"
      [disabled]="index() === 0 && (selectedSeats$ | async)?.length === 0"
    >
      @if (index() === steps().length - 1) {
        {{ "Thanh toán ngay" | translate }}
      } @else {
        {{ "Tiếp tục" | translate }}
        <nz-icon nzType="arrow-right" />
      }
    </button>
  </div>
</div>
