<div class="w-full h-full">
  <div>Order Id: {{ order.orderId }}</div>
  <div>User Id:{{ order.userId }}</div>
  <div>Cinema Hall Id:{{ order.cinemaHallId }}</div>

  <div>
    Status:
    <nz-tag [nzColor]="(order.orderStatus | tags).color">
      {{ (order.orderStatus|tags).status }}
    </nz-tag>
  </div>
  <div>
    Payment Method:
    <nz-tag [nzColor]="(order.paymentMethod | tags).color">
      {{ (order.paymentMethod|tags).status }}
    </nz-tag>
  </div>
  <div>
    Payment Status:
    <nz-tag [nzColor]="(order.paymentStatus | tags).color">
      {{ (order.paymentStatus|tags).status }}
    </nz-tag>
  </div>

  <div>Total Amount: {{ order.totalAmount | currency :'VND' }}</div>
  <div>Order Day: {{ order.createdAt | date: 'dd/MM/yyyy' }}</div>
  <div>Seats:
    {{ getSeatNumbers(order) }}
  </div>
</div>
