<div class="min-h-screen bg-slate-50 py-10 px-4 sm:px-6 lg:px-8">
  <!-- HEADER -->
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-8"
  >
    <div>
      <h1 class="text-3xl font-bold text-gray-900">Quản lý đơn đặt</h1>
      <p class="text-gray-500 text-sm mt-1">Theo dõi và xử lý các đơn đặt vé</p>
    </div>
  </div>

  <!--  FILTER -->
  <div class="bg-white rounded-xl border border-gray-200 shadow-sm p-5 mb-6">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">
        <!--  Search  -->
        <div class="lg:col-span-1">
          <nz-form-label class="font-semibold text-xs text-gray-500 uppercase"
            >Tìm kiếm
          </nz-form-label>
          <nz-input-group nzPrefixIcon="search" class="w-full rounded-lg">
            <input formControlName="query" nz-input placeholder="Mã đơn" />
          </nz-input-group>
        </div>

        <!--  Status  -->
        <div class="">
          <nz-form-label class="font-semibold text-xs text-gray-500 uppercase"
            >Trạng thái đơn
          </nz-form-label>
          <nz-select
            formControlName="reservationStatus"
            class="w-full"
            nzPlaceHolder="Trạng thái"
            nzAllowClear
          >
            @for (s of reservationStatus; track s) {
              <nz-option [nzLabel]="s" [nzValue]="s"></nz-option>
            }
          </nz-select>
        </div>

        <!--  Day filter -->
        <div>
          <nz-form-label class="font-semibold text-xs text-gray-500 uppercase"
            >Ngày tạo đơn
          </nz-form-label>
          <nz-range-picker
            formControlName="dateRange"
            class="w-full"
          ></nz-range-picker>
        </div>

        <!--  Total Amount -->
        <div>
          <nz-form-label class="font-semibold text-xs text-gray-500 uppercase"
            >Tổng tiền
          </nz-form-label>
          <nz-input-group nzPrefixIcon="dollar" class="w-full rounded-lg">
            <input
              formControlName="totalAmount"
              nz-input
              placeholder="Giá"
              type="number"
              class="!w-[100px]"
            />
          </nz-input-group>
        </div>

        <!--  Sort  -->
        <div>
          <nz-form-label class="font-semibold text-xs text-gray-500 uppercase"
            >Sắp xếp theo
          </nz-form-label>
          <nz-select formControlName="sortBy" class="w-full">
            <nz-option nzLabel="Mới nhất" nzValue="newest"></nz-option>
            <nz-option nzLabel="Cũ nhất" nzValue="oldest"></nz-option>
          </nz-select>
        </div>

        <div class="flex items-end gap-2">
          <button
            nz-button
            nzType="primary"
            class="flex-1 font-semibold"
            type="submit"
          >
            <nz-icon nzType="filter" />
            Apply
          </button>
          <button
            nz-button
            nzType="default"
            (click)="clearFilter()"
            class="flex-1"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>

  <!--  TABLE -->
  @let errorMsg = reservationStore.error();
  @let pag = reservationStore.pagination();
  <app-loading [isLoading]="reservationStore.loading()">
    @if (reservationStore.reservations(); as reservations) {
      <div
        class="bg-white rounded-2xl border border-gray-200 shadow-sm p-6 overflow-hidden"
      >
        <nz-table
          [nzData]="reservations"
          [nzFrontPagination]="false"
          [nzTotal]="pag?.totalElements || 0"
          [nzPageIndex]="(pag?.pageNumber ?? 0) + 1"
          [nzPageSize]="pag?.pageSize ?? 10"
          [nzShowSizeChanger]="true"
          nzShowPagination
          (nzQueryParams)="onQueryParamsChange($event)"
        >
          <thead class="bg-gray-50">
            <tr>
              @for (item of headerColumn; track item) {
                <th nzAlign="center">
                  {{ item }}
                </th>
              }
            </tr>
          </thead>
          <tbody>
            @for (item of reservations; track item.id) {
              <tr
                class="group hover:bg-gray-50 transition-colors border-b border-gray-100"
              >
                <td class="font-mono text-center text-gray-500">
                  {{ item.id }}
                </td>

                <td class="text-center">
                  <nz-tag
                    [nzColor]="(item.reservationStatus | tags).color"
                    class="m-0 font-medium rounded-md border-0 px-2 py-0.5"
                  >
                    {{ (item.reservationStatus | tags).status }}
                  </nz-tag>
                </td>

                <td class="text-center font-bold text-gray-800">
                  {{ item.totalAmount | currency: "VND" }}
                </td>

                <td class="text-gray-600 text-center">
                  {{ item.createdAt | date: "dd/MM/yyyy" }}
                  <div class="text-xs text-gray-400">
                    {{ item.createdAt | date: "HH:mm" }}
                  </div>
                </td>

                <td nzAlign="center" class="text-center">
                  <div class="flex justify-center gap-2">
                    <button
                      nz-button
                      nzType="text"
                      nzShape="circle"
                      nz-tooltip
                      nzTooltipTitle="Xem chi tiết"
                      class="text-blue-600 hover:bg-blue-100"
                      (click)="openModal(item.id)"
                    >
                      <nz-icon nzType="eye" nzTheme="twotone" />
                    </button>

                    <button
                      nz-button
                      nzType="text"
                      nzShape="circle"
                      nz-tooltip
                      nzTooltipTitle="Xóa đơn"
                      class="text-red-500 hover:bg-red-100"
                    >
                      <nz-icon
                        nzType="delete"
                        nzTheme="twotone"
                        nzTwotoneColor="#e7000b"
                      />
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
    }
  </app-loading>

  @if (errorMsg) {
    <div class="fixed bottom-5 right-5 z-50">
      <nz-alert
        nzType="error"
        [nzMessage]="errorMsg"
        nzShowIcon
        nzCloseable
        class="shadow-lg"
      >
      </nz-alert>
    </div>
  }
</div>
