<nz-spin [nzSpinning]="(loading$ | async) || (saving$ | async)">
  <form nz-form [formGroup]="form" class="w-full">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
      <!-- LEFT COLUMN -->
      <div class="lg:col-span-8 flex flex-col gap-6">
        <!-- Movie Title & Auto-fill Button -->
        <nz-form-item class="mb-6">
          <nz-form-label nzRequired class="font-bold text-gray-700"
            >{{ "Tiêu đề phim" | translate }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'Bắt buộc' | translate">
            <div class="flex items-center gap-2">
              <input
                nz-input
                formControlName="title"
                [placeholder]="'Tên phim' | translate"
                class="rounded-lg h-12 px-4 text-base shadow-sm"
                [readOnly]="mode === 'view'"
              />

              <!-- Search API  -->
              @if (mode !== "view") {
                <button
                  type="button"
                  nz-button
                  nzType="default"
                  class="flex items-center gap-2 rounded-lg bg-blue-50 text-primary border-blue-200 hover:border-primary h-10 px-4"
                  (click)="openMovieModal()"
                >
                  <nz-icon nzType="cloud-download" />
                  {{ "Tự động điền" | translate }}
                </button>
              }
            </div>
          </nz-form-control>
        </nz-form-item>

        <!-- Duration & Release Date -->
        <div
          class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-gray-50 p-6 rounded-xl border border-gray-100"
        >
          <nz-form-item class="mb-0">
            <nz-form-label nzRequired>{{
              "Thời lượng (phút)" | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'Nhập thời lượng' | translate">
              <input
                type="number"
                nz-input
                formControlName="duration"
                [placeholder]="'https://image.tmdb.org/...' | translate"
                class="rounded-lg h-11"
                [readOnly]="mode === 'view'"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mb-0">
            <nz-form-label nzRequired>{{
              "Ngày phát hành" | translate
            }}</nz-form-label>
            <nz-form-control [nzErrorTip]="'Nhập ngày phát hành' | translate">
              <nz-date-picker
                formControlName="releaseDate"
                class="w-full rounded-lg h-11"
                [nzDisabled]="mode === 'view'"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>

        <nz-form-item class="mb-0">
          <nz-form-label nzRequired>{{
            "Ảnh nền (Backdrop)" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Nhập URL ảnh nền' | translate">
            <input
              type="text"
              nz-input
              formControlName="backdrop"
              [placeholder]="'ví dụ: 120' | translate"
              class="rounded-lg h-11"
              [readOnly]="mode === 'view'"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mb-0">
          <nz-form-label nzRequired>{{ "Ngôn ngữ" | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Nhập ngôn ngữ' | translate">
            <nz-select
              formControlName="language"
              nzPlaceHolder="Select language"
              [nzDisabled]="mode === 'view'"
              class="rounded-lg h-11 flex items-center"
            >
              <nz-option
                [nzLabel]="'English' | translate"
                nzValue="en"
              ></nz-option>
              <nz-option
                [nzLabel]="'Vietnamese' | translate"
                nzValue="vi"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mb-0">
          <nz-form-label nzRequired>{{ "Quốc gia" | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Nhập quốc gia' | translate">
            <nz-select
              formControlName="country"
              [nzPlaceHolder]="'Select Country' | translate"
              [nzDisabled]="mode === 'view'"
              class="rounded-lg h-11 flex items-center"
            >
              <nz-option [nzLabel]="'US' | translate" nzValue="US"></nz-option>
              <nz-option
                [nzLabel]="'Vietnam' | translate"
                nzValue="VI"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mb-0">
          <nz-form-label nzRequired>{{ "Tên gốc" | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Nhập tên gốc' | translate">
            <input
              type="text"
              nz-input
              formControlName="originalTitle"
              [placeholder]="'Tiêu đề gốc' | translate"
              class="rounded-lg h-11"
              [readOnly]="mode === 'view'"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mb-0">
          <nz-form-label nzRequired>{{ "Thể loại" | translate }}</nz-form-label>
          <nz-form-control [nzErrorTip]="'Nhập thể loại' | translate">
            <nz-select
              formControlName="genres"
              nzMode="tags"
              [nzPlaceHolder]="'Type and press enter' | translate"
              [nzDisabled]="mode === 'view'"
              class="rounded-lg min-h-[44px] flex items-center"
            ></nz-select>
          </nz-form-control>
        </nz-form-item>

        <!-- Description -->
        <nz-form-item class="flex-1 mb-0">
          <nz-form-label nzRequired class="font-bold text-gray-700"
            >{{ "Mô tả" | translate }}
          </nz-form-label>
          <nz-form-control
            [nzErrorTip]="'Nhập mô tả phim' | translate"
            class="h-full"
          >
            <textarea
              nz-input
              formControlName="overview"
              [nzAutosize]="{ minRows: 5, maxRows: 10 }"
              class="rounded-xl resize-none text-base p-4 shadow-sm h-full"
              [placeholder]="'Tóm tắt phim...' | translate"
              [readOnly]="mode === 'view'"
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- RIGHT COLUMN-->
      <div class="lg:col-span-4 space-y-6">
        <nz-form-item class="mb-0">
          <nz-form-label nzRequired class="font-bold text-gray-700"
            >{{ "URL Poster" | translate }}
          </nz-form-label>
          <nz-form-control [nzErrorTip]="'Bắt buộc' | translate">
            <input
              nz-input
              formControlName="poster"
              placeholder="https://image.tmdb.org/..."
              class="rounded-lg h-12 shadow-sm"
              [readOnly]="mode === 'view'"
            />
          </nz-form-control>
        </nz-form-item>

        <!-- POSTER PREVIEW BOX -->
        <div
          class="w-full aspect-[2/3] bg-white rounded-2xl border-2 border-dashed border-gray-300 relative overflow-hidden flex items-center justify-center group shadow-md transition-all hover:shadow-xl hover:border-blue-300"
        >
          <!-- LOGIC HIỂN THỊ ẢNH THÔNG MINH -->
          @if (form.get("poster")?.value) {
            <img
              [src]="form.get('poster')?.value"
              class="w-full h-full object-cover transition-transform duration-500"
              alt="Poster Preview"
            />

            <!-- Fallback -->
            <div
              class="absolute inset-0 hidden flex-col items-center justify-center text-gray-400 bg-gray-100"
            >
              <nz-icon nzType="frown" class="text-3xl mb-2" />
              <span class="text-xs font-semibold">{{
                "Không tìm thấy ảnh" | translate
              }}</span>
            </div>
          } @else {
            <!-- Empty State -->
            <div
              class="flex flex-col items-center justify-center text-gray-400"
            >
              <nz-icon nzType="file-image" class="text-4xl mb-2 opacity-50" />
              <span
                class="text-xs uppercase font-bold tracking-wider opacity-70"
                >{{ "Không có Poster" | translate }}</span
              >
            </div>
          }
        </div>
      </div>
    </div>
  </form>
</nz-spin>

<!-- Error Alert (Giữ nguyên logic cũ) -->
@let error = error$ | async;
@if (error) {
  <div class="mt-4">
    <nz-alert
      nzType="error"
      [nzMessage]="error"
      nzShowIcon
      nzCloseable
    ></nz-alert>
  </div>
}
