<div class="flex flex-col items-center space-y-2">
  <!-- Màn hình -->
  <div class="mb-2 text-sm text-gray-600 font-semibold">SCREEN</div>
  <div class="h-1 w-80 bg-gray-400 mb-6 rounded"></div>

  <!-- Ghế -->
  @for (row of seats; track $index) {

  <div class="flex gap-2 justify-center">
    @for (seat of row; track $index) {
    <div
      (click)="toggleSeat(seat)"
      [ngClass]="getSeatClass(seat)"
      class="flex items-center justify-center text-xs"
    >
      {{ seat.row }}{{ seat.number }}
    </div>
    }
  </div>
  }

  <!-- Legend -->
  <div class="flex gap-4 mt-6 text-sm justify-center">
    <div class="flex items-center gap-2">
      <div class="w-4 h-4 bg-gray-200 rounded-sm"></div>
      Có sẵn
    </div>
    <div class="flex items-center gap-2">
      <div class="w-4 h-4 bg-blue-500 rounded-sm"></div>
      Đang chọn
    </div>
    <div class="flex items-center gap-2">
      <div class="w-4 h-4 bg-red-500 rounded-sm"></div>
      Đã đặt
    </div>
  </div>
</div>
