<nz-result
  [nzIcon]="Icon"
  [nzTitle]="Title"
  [nzSubTitle]="Subtitle"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" nzShape="round" (click)="goToHomePage()">Home Page</button>
  </div>
  >
</nz-result>

<ng-template #Title>
  <h1 class="ant-result-title text-foreground text-4xl font-bold">Oops! Server Error</h1>
</ng-template>

<ng-template #Subtitle>
  <h1 class="ant-result-subtitle text-muted-foreground text-sm"> Please try again later. If the issue persists, feel
    free to contact us for assistance.</h1>
</ng-template>


<ng-template
  #Icon
>
  <svg-icon src="assets/illustrations/500.svg" svgClass="w-full h-full text-muted-foreground"></svg-icon>
</ng-template>
