:host ::ng-deep .markdown-body {
  font-size: 14px;
}

:host ::ng-deep .markdown-body p {
  margin-bottom: 0.5rem;
}

:host ::ng-deep .markdown-body p:last-child {
  margin-bottom: 0;
}

:host ::ng-deep .markdown-body ul {
  list-style-type: disc;
  padding-left: 1.2rem;
  margin-bottom: 0.5rem;
}

:host ::ng-deep .markdown-body li {
  margin-bottom: 0.25rem;
}

:host ::ng-deep .markdown-body strong {
  font-weight: 600;
  color: #1f2937; /* Gray-800 */
}
