<nz-result
  class="bg-background max-w-lg mx-auto rounded-lg p-8"
  [nzIcon]="Icon"
  [nzTitle]="Title"
  [nzSubTitle]="Subtitle"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" nzShape="round" (click)="goToHomePage()">
      {{ "Trang chủ" | translate }}
    </button>
  </div>
</nz-result>

<ng-template #Title>
  <h1 class="ant-result-title text-4xl font-bold">
    {{ "Rất tiếc! Lỗi máy chủ" | translate }}
  </h1>
</ng-template>

<ng-template #Subtitle>
  <h1 class="ant-result-subtitle text-sm">
    {{
      "Vui lòng thử lại sau. Nếu vấn đề vẫn tiếp diễn, đừng ngần ngại liên hệ với chúng tôi để được hỗ trợ."
        | translate
    }}
  </h1>
</ng-template>

<ng-template #Icon>
  <img
    src="assets/illustrations/500.svg"
    alt="500 Server Error Illustration"
    class="w-full h-full"
  />
</ng-template>
