<div class="min-h-screen bg-slate-50 py-10 px-4 sm:px-6 lg:px-5">
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-8"
  >
    <div class="text-3xl font-bold text-gray-900">Quản lý người dùng</div>
  </div>

  <app-loading [isLoading]="userStore.loading()">
    <div
      class="bg-white rounded-2xl border border-gray-200 shadow-sm p-6 overflow-hidden"
    >
      <nz-table
        [nzData]="userStore.users()"
        nzShowPagination
        [nzFrontPagination]="false"
        [nzTotal]="userStore.pagination()?.totalElements || 0"
        [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize"
        (nzQueryParams)="onQueryParamsChange($event)"
        [nzShowSizeChanger]="true"
      >
        <thead>
          <tr>
            @for (item of headerColumns; track item) {
              <th>{{ item }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of userStore.users(); track item.userId) {
            <tr
              class="group hover:bg-gray-50 transition-colors border-b border-gray-100"
            >
              <td class="px-6 py-4">
                <div class="font-bold text-gray-900 text-base">
                  {{ item.username }}
                </div>
                <div class="text-sm text-gray-500">
                  {{ item.email }} &bull;
                  {{ item.createdAt | date: "dd/MM/yyyy" }}
                </div>
              </td>
              <td>
                @let tag = item.isDeleted | isDeleted;
                <nz-tag [nzColor]="tag.color">
                  {{ tag.label }}
                </nz-tag>
              </td>
              <td>
                <nz-switch
                  [ngModel]="!item.isDeleted"
                  (ngModelChange)="updateStatus(item.userId, !$event)"
                >
                </nz-switch>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </app-loading>
</div>
