<nz-layout class="h-screen w-full overflow-hidden ant-layout-has-sider" >
  <!-- SIDER -->
  <app-sidebar [isCollapsed]="isCollapsed"/>
  <!--LAYOUT RIGHT-->
  <nz-layout class="h-full flex flex-col">
    <!--  HEADER  -->
    <app-navbar
      [breadcrumbs]="breadcrumbs"
      [isCollapsed]="isCollapsed"
      (toggleCollapsed)="toggleCollapse($event)"/>

    <nz-content class="flex-1 overflow-y-auto bg-slate-50">
      <div class="min-h-full">
        <router-outlet/>
      </div>
      <nz-footer class="text-center text-gray-400 bg-transparent mt-8">
        Booking Ticket System {{ date.getFullYear() }}
      </nz-footer>
    </nz-content>

  </nz-layout>
</nz-layout>
