<div class="mb-5 flex items-center justify-between">
  <h1 class="text-2xl font-bold mb-4">Quản Lý Danh Mục</h1>
  <button nz-button nzType="primary" nzShape="circle" (click)="openMovieModal('add')">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
  </button>
</div>
<div class="mb-5 flex items-center justify-between">
  <div class="relative">


    <nz-input-group nzAddOnBeforeIcon="search">
      <input nz-input placeholder="Tìm kiếm" style="width:500px" type="text" [formControl]="searchCtrl">
    </nz-input-group>
    <!--   Search result list-->
    @if (searchResults() && searchResults().length > 0) {
      <div class="absolute z-50 top-full mt-1 w-full bg-white border rounded shadow max-h-72 overflow-y-auto">
        <nz-list [nzDataSource]="searchResults()" [nzRenderItem]="item" [nzBordered]="true"
                 class="max-h-52 overflow-y-auto">
          <ng-template #item let-movie>
            <nz-list-item (click)="selectMovie(movie.id)" class="cursor-pointer transition p-2 rounded"
                          [ngClass]="{'bg-blue-100': selectedMovie()?.id === movie.id,'hover:bg-gray-100': selectedMovie()?.id !== movie.id}"
            >
              <nz-list-item-meta
                [nzAvatar]="nzAvatar"
                [nzTitle]="nzTitle"
                [nzDescription]="nzDescription">
              </nz-list-item-meta>

              <ng-template #nzAvatar>
                <nz-avatar nzShape="square" [nzSize]="64"
                           [nzSrc]="movie.poster">
                </nz-avatar>
              </ng-template>

              <ng-template #nzTitle>
                <span class="font-semibold">{{ movie.title }}</span>
              </ng-template>

              <ng-template #nzDescription>
              <span class="text-xs text-gray-500">
                {{ movie.release_date | date: 'yyyy' }} — {{ movie.overview }}
              </span>
              </ng-template>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    }
  </div>
  <nz-select class="w-[150px]" nzPlaceHolder="Sắp xếp">
    <nz-option nzLabel="Mới nhất" nzValue="newest"></nz-option>
    <nz-option nzLabel="Cũ nhất" nzValue="oldest"></nz-option>
  </nz-select>
</div>
<nz-table [nzData]="movieList" nzShowPagination nzShowSizeChanger>
  <thead>
  <tr>
    @for (item of headerColumn; track item) {
      <th>
        {{ item }}
      </th>
    }
  </tr>
  </thead>
  <tbody>
    @for (item of movieList; track item.id) {
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>
          <img class="object-cover w-24 h-36" [src]="item.poster" [alt]="item.title">
        </td>
        <td>{{ item.overview }}</td>
        <td>
          @for (g of item.genres; track g) {
            <nz-tag>{{ g }}</nz-tag>
          }
        </td>
        <td>{{ item.duration }}</td>
        <td>{{ item.releaseDate |date: 'dd/MM/yyyy' }}</td>
        <td>
          <div>
            <nz-space>
              <button nz-button nzType="text" nzShape="circle" (click)="openMovieModal('view', item.id)">
                <i nz-icon nzType="eye" nzTheme="twotone"></i>
              </button>
              <button nz-button nzType="text" nzShape="circle" (click)="openMovieModal('edit', item.id)">
                <i nz-icon nzType="edit" nzTheme="twotone" nzTwotoneColor="#52c41a"></i>
              </button>
              <button nz-button nzType="text" nzShape="circle" (click)="onDelete(item.id)">
                <i nz-icon nzType="delete" nzTheme="twotone" nzTwotoneColor="#e7000b"></i>
              </button>
              <!--              <button nz-button nzType="text" nzShape="circle">-->
              <!--                <i nz-icon nzType="redo" class="!text-orange-600" nzTheme="outline"></i>-->
              <!--              </button>-->
              <!--              <button nz-button nzType="text">-->
              <!--                <i nz-icon nzType="eye-invisible" nzTheme="twotone" nzTwotoneColor="#e7000b"></i>-->
              <!--              </button>-->
            </nz-space>
          </div>

        </td>
      </tr>

    }

  </tbody>
</nz-table>
