<div
  class="bg-white p-5 rounded-xl shadow-sm border border-gray-100 hover:shadow-md transition-shadow"
>
  <div class="flex justify-between items-start">
    <div>
      <p class="text-gray-500 text-sm font-medium">{{ title() }}</p>
      <h3 class="text-2xl font-bold mt-1 text-gray-800">
        {{ value() }}
      </h3>
    </div>
    <div
      class="p-2.5 rounded-full bg-blue-50 text-blue-500 flex items-center justify-center"
    >
      <i-lucide [name]="icon()" class="text-xl"></i-lucide>
    </div>
  </div>
  <!--  <div class="mt-4 flex items-center text-sm">-->
  <!--    <span class="text-emerald-500 font-medium flex items-center gap-1 bg-emerald-50 px-1.5 py-0.5 rounded">-->
  <!--      <nz-icon nzType="arrow-up"/> 10.2%-->
  <!--    </span>-->
  <!--    <span class="text-gray-400 ml-2 text-xs">vs last week</span>-->
  <!--  </div>-->
</div>
