<div class="min-h-screen bg-slate-50 py-10 px-4 sm:px-6 lg:px-8">
  <div
    class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-8"
  >
    <div>
      <h1 class="text-3xl font-bold text-gray-900">
        {{ "Quản lý bài viết" | translate }}
      </h1>
      <p class="text-gray-600">
        {{ "Tạo nội dung tin tức, khuyến mãi và review phim." | translate }}
      </p>
    </div>
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      nzShape="circle"
      (click)="openDrawer()"
    >
      <nz-icon nzType="plus" nzTheme="outline" />
    </button>
  </div>

  <app-loading [isLoading]="articleStore.loading()">
    <div
      class="bg-white rounded-2xl border border-gray-200 shadow-sm p-6 overflow-hidden"
    >
      <nz-table
        [nzData]="articleStore.articles()"
        [nzFrontPagination]="false"
        [nzTotal]="articleStore.pagination()?.totalElements || 0"
        [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize"
        nzShowPagination
        [nzShowSizeChanger]="true"
        (nzQueryParams)="onQueryParamsChange($event)"
      >
        <thead>
          <tr>
            @for (header of headerColumn; track header) {
              <th>{{ header | translate }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of articleStore.articles(); track item.id) {
            <tr
              class="group hover:bg-gray-50 transition-colors border-b border-gray-100"
            >
              <td>
                <img
                  [src]="item.thumbnail"
                  [alt]="item.title"
                  class="w-12 h-12 object-cover rounded shadow-sm border border-gray-600"
                />
              </td>
              <td>
                <div
                  class="font-semibold truncate max-w-xs"
                  nz-tooltip
                  [nzTooltipTitle]="item.title"
                >
                  {{ item.title }}
                </div>
                <div class="text-xs truncate max-w-xs">
                  {{ item.summary }}
                </div>
              </td>
              <td>
                <nz-tag [nzColor]="'blue'">
                  {{ item.type }}
                </nz-tag>
              </td>
              <td>
                {{ item.author }}
              </td>
              <td>
                @if (item.status === "PUBLISHED") {
                  <nz-tag [nzColor]="'success'" class="border-none">
                    <span nz-icon nzType="check-circle"></span>
                    {{ "Đã đăng" | translate }}
                  </nz-tag>
                } @else {
                  <nz-tag [nzColor]="'default'" class="border-none">
                    <span nz-icon nzType="edit"></span> {{ "Nháp" | translate }}
                  </nz-tag>
                }
              </td>
              <td class="text-gray-600">
                {{ item.createdAt | date: "dd/MM/yyyy" }}
              </td>
              <td nzRight>
                <div class="flex gap-2">
                  <button
                    nz-button
                    nzType="default"
                    nzShape="circle"
                    (click)="openDrawer(item)"
                    nz-tooltip
                    [nzTooltipTitle]="'Chỉnh sửa' | translate"
                  >
                    <span nz-icon nzType="edit" class="text-blue-400"> </span>
                  </button>
                  <button
                    nz-button
                    nzType="default"
                    nzDanger
                    nzShape="circle"
                    nz-popconfirm
                    [nzPopconfirmTitle]="
                      'Bạn có chắc chắn muốn xóa bài này?' | translate
                    "
                    (nzOnConfirm)="deleteArticle(item.id)"
                    nz-tooltip
                    [nzTooltipTitle]="'Xóa' | translate"
                  >
                    <span nz-icon nzType="delete"> </span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </app-loading>
</div>
