<div class="flex flex-col h-full select-none  rounded-xl overflow-hidden font-sans border-gray-800">

  <!-- CINEMA SCREEN -->
  <div
    class="relative w-full pt-10 pb-12  flex flex-col items-center justify-center shrink-0 z-10">

    <div
      class="absolute top-10 left-1/2 -translate-x-1/2 w-[60%] h-40 bg-gradient-to-b from-blue-500/10 via-blue-500/5 to-transparent blur-[40px] pointer-events-none"></div>

    <div class="relative w-[85%] max-w-[650px] z-10">
      <svg
        viewBox="0 0 400 50"
        class="w-full h-auto overflow-visible "
      >
        <!-- Gradient Border -->
        <defs>
          <linearGradient id="screenArchGradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#334155" stop-opacity="0.3"/> <!-- Tối 2 bên -->
            <stop offset="50%" stop-color="#e2e8f0" stop-opacity="1"/>   <!-- Sáng giữa -->
            <stop offset="100%" stop-color="#334155" stop-opacity="0.3"/>
          </linearGradient>

          <!-- Gradient Mặt kính -->
          <linearGradient id="screenGlassGradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%" stop-color="#60a5fa" stop-opacity="0.2"/>
            <stop offset="100%" stop-color="transparent" stop-opacity="0"/>
          </linearGradient>
        </defs>
        <path
          d="M0,40 Q200,5 400,40"
          fill="none"
          stroke="url(#screenArchGradient)"
          stroke-width="4"
          stroke-linecap="round"
        />
        <path
          d="M0,40 Q200,5 400,40 L400,100 L0,100 Z"
          fill="url(#screenGlassGradient)"
          class="opacity-60"
        />
      </svg>
    </div>

    <div class="mt-2 text-slate-500 text-[10px] uppercase tracking-[0.4em] font-bold text-shadow-sm opacity-50">
      Màn hình chiếu
    </div>
  </div>


  <!-- SEAT MAP -->
  <div class="flex-1 overflow-auto flex justify-center items-start pb-8 px-4]">
    <div class="space-y-2">
      @for (row of groupedSeats$ | async; track $index) {
        <div class="flex gap-2 justify-center flex-nowrap">
          @for (seat of row; track $index) {
            <button
              (click)="toggleSeat(seat)"
              [disabled]="seat.status === 'BOOKED'"
              [ngClass]="getSeatClass(seat)"
              class="group relative w-8 h-8 md:w-9 md:h-9 text-[10px] md:text-xs font-semibold rounded-t-md rounded-b-sm shadow-sm transition-all duration-150 border-b-[3px] flex items-center justify-center
              hover:-translate-y-0.5 "
            >
              <span class="z-10">
              {{ seat.seatNumber }}
              </span>
            </button>
          }
        </div>
      }
    </div>
  </div>

  <!-- LEGEND -->
  <div class="py-4 border-t border-gray-800 mt-auto">
    <div class="flex flex-wrap justify-center gap-x-6 gap-y-3">
      <!--  AVAILABLE  -->
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 rounded bg-gray-200 border-b-2 border-gray-700"></div>
        <span class="text-sm text-gray-600">Có sẵn</span>
      </div>
      <!--  SELECTED  -->
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 rounded bg-blue-500 border-b-2 border-blue-700"></div>
        <span class="text-sm text-gray-600">Đang chọn</span>
      </div>
      <!--  HOLD  -->
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 rounded  bg-orange-500 border-b-2 border-orange-700"></div>
        <span class="text-sm text-gray-600">Đang giữ</span>
      </div>
      <!--  BOOKED  -->
      <div class="flex items-center gap-2">
        <div class="w-6 h-6 rounded  bg-red-500  border-b-2 border-red-700"></div>
        <span class="text-sm text-gray-600">Đã đặt</span>
      </div>
    </div>
  </div>

</div>
