<div>
  <div class="mb-4">
    <p class="font-semibold mb-3">Chọn khung giờ chiếu</p>
    <div class="grid grid-cols-2 gap-2 md:grid-cols-3">
      @for (showtime of showtime(); track showtime.id) {
        <button class="p-3 border-2 rounded hover:border-blue-500 transition">
          {{ formatShowtime(showtime!.showDate) }}
          <br />
          <span class="text-sm">{{ formatTime(showtime!.showTime) }}</span>
          <p class="text-sm text-gray-600">
            Ghế còn lại: <strong>{{ showtime?.availableSeats }}</strong
            >/ {{ showtime?.totalSeats }}
          </p>
        </button>
      }
    </div>
  </div>
</div>
