<nz-layout class="min-h-screen">
  <nz-sider
    class="sticky top-0 h-screen"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
  >
    <div class="bg-white">
      <h1 class="text-2xl text-center">Logo</h1>
    </div>

    <ul
      class="mt-1"
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-menu-item [routerLink]="['dashboard']">
        <i nz-icon nzType="dashboard" nzTheme="outline"></i>
        <span>Thống Kê</span>
      </li>
      <li nz-menu-item [routerLink]="['movie']">
        <i nz-icon nzType="video-camera" nzTheme="outline"></i>
        <span>Phim</span>
      </li>
      <li nz-menu-item [routerLink]="['theater']">
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <span>Rạp Chiếu</span>
      </li>
      <li nz-menu-item [routerLink]="['showtime']">
        <i nz-icon nzType="calendar" nzTheme="outline"></i>
        <span>Suất Chiếu</span>
      </li>
      <li nz-menu-item [routerLink]="['reservation']">
        <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
        <span>Vé đã đặt</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon
            class="trigger"
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          />
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="overflow-y-auto h-full px-6 py-3 bg-white">
        <router-outlet />
      </div>
    </nz-content>
    <nz-footer class="bg-white text-center"
      >Booking Ticket System {{ date.getFullYear() }}</nz-footer
    >
  </nz-layout>
</nz-layout>
