<div class="mb-5 flex items-center justify-between">
  <h1 class="text-2xl font-bold mb-4">Quản Lý Rạp Chiếu</h1>
  <button
    nz-button
    nzType="primary"
    nzShape="circle"
    (click)="openModal('add')"
  >
    <nz-icon nzType="plus" nzTheme="outline" />
  </button>
</div>
<div class="mb-5 flex items-center justify-between">
  <nz-input-group nzAddOnBeforeIcon="search">
    <input nz-input placeholder="Tìm kiếm" style="width: 500px" type="text" />
  </nz-input-group>
  <!--   Search result list-->
  <nz-select class="w-[150px]" nzPlaceHolder="Sắp xếp">
    <nz-option nzLabel="Mới nhất" nzValue="newest"></nz-option>
    <nz-option nzLabel="Cũ nhất" nzValue="oldest"></nz-option>
  </nz-select>
</div>
<nz-spin [nzSpinning]="loading$ | async">
  <nz-table [nzData]="theaterList" nzShowPagination nzShowSizeChanger>
    <thead>
      <tr>
        @for (item of headerColumn; track item) {
          <th>
            {{ item }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of theaterList; track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.capacity }}</td>
          <td>{{ item.showtime.length }}</td>
          <td>{{ item.createdAt | date: "dd/MM/yyyy" }}</td>
          <td>
            <div>
              <nz-space>
                <button
                  nz-button
                  nzType="text"
                  nzShape="circle"
                  (click)="openModal('view', item.id)"
                >
                  <nz-icon nzType="eye" nzTheme="twotone" />
                </button>
                <button
                  nz-button
                  nzType="text"
                  nzShape="circle"
                  (click)="openModal('edit', item.id)"
                >
                  <nz-icon
                    nzType="edit"
                    nzTheme="twotone"
                    nzTwotoneColor="#52c41a"
                  />
                </button>
                <button
                  nz-button
                  nzType="text"
                  nzShape="circle"
                  (click)="onDelete(item.id)"
                >
                  <nz-icon
                    nzType="delete"
                    nzTheme="twotone"
                    nzTwotoneColor="#e7000b"
                  />
                </button>
                <!--              <button nz-button nzType="text" nzShape="circle">-->
                <!--                <i nz-icon nzType="redo" class="!text-orange-600" nzTheme="outline"></i>-->
                <!--              </button>-->
                <!--              <button nz-button nzType="text">-->
                <!--                <i nz-icon nzType="eye-invisible" nzTheme="twotone" nzTwotoneColor="#e7000b"></i>-->
                <!--              </button>-->
              </nz-space>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>
</nz-spin>
@let error = error$ | async;
@if (error) {
  <nz-alert nzType="error" [nzMessage]="error" nzShowIcon nzCloseable>
  </nz-alert>
}
