<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title th:remove="all">Title</title>
</head>
<body>
<h2>Xin chào <span th:text="${name}">User</span> / Hello <span th:text="${name}">User</span></h2>

<div style="margin: 20px 0; padding-top: 20px">
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Mã vé (Reservation Code)</span>
        <span th:text="${reservationId}" style="font-weight: bold"></span>
    </p>
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Phim (Movie)</span>
        <span th:text="${movieName}" style="font-weight: bold"></span>
    </p>
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Rạp (Theater)</span>
        <span th:text="${theaterName}" style="font-weight: bold"></span>
    </p>
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Thời gian (Session)</span>
        <span th:text="${showtimeSession}" style="font-weight: bold"></span>
    </p>
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Ghế (Seat)</span>
        <span th:text="${seats}" style="font-weight: bold"></span>
    </p>
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Thời gian thanh toán (Payment Time)</span>
        <span th:text="${paymentTime}" style="font-weight: bold"></span>
    </p>
    <p style="margin: 10px 0; display: flex; justify-content: space-between">
        <span style="margin-right: 5px">Tổng tiền (Total)</span>
        <span th:text="${total} + ' VND'" style="font-weight: bold"></span>
    </p>
</div>
<img th:src="'data:image/png;base64,' + ${barcode}" alt="Barcode"/>


<p>Lưu ý/Note:</p>
<p>Vé đã mua không thể hủy, đổi hoặc trả lại. Vui lòng liên hệ Ban Quản lý rạp hoặc tra cứu thông tin tại mục F.A.Q để
    biết thêm chi tiết. Cảm ơn bạn đã lựa chọn rạp phim. Chúc bạn xem phim vui vẻ!</p>
<p>Cinema does not offer refunds or exchanges for successful tickets purchased on our Cinema website. if you have any
    questions or problems with this order, you can Contact Us or see our F.A.Q for more information. Thank you for
    choosing Cinema and Enjoy the movie!</p>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>