<form
  nz-form
  [formGroup]="form"
  (ngSubmit)="submit()"
  nzLayout="vertical"
  class="flex-1 overflow-y-auto p-4 pb-24 space-y-6"
>
  <!-- TITLE/SLUG -->
  <nz-form-item>
    <nz-form-label [nzSpan]="24" nzRequired
      >{{ "Tiêu đề bài viét" | translate }}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="'Vui lòng nhập tiêu đề' | translate">
      <input
        nz-input
        formControlName="title"
        [placeholder]="'Nhập tiêu đề...' | translate"
      />
    </nz-form-control>
  </nz-form-item>

  <!-- THUMBNAIL & SUMMARY -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Upload giả lập (Input URL) -->
    <nz-form-item>
      <nz-form-label nzRequired
        >{{ "Hình ảnh(URL)" | translate }}
      </nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="thumbnail" placeholder="https://..." />
        @if (form.get("thumbnail")?.value) {
          <img
            [src]="form.get('thumbnail')?.value"
            [alt]="form.get('title')?.value"
            class="h-32 w-full object-cover rounded-lg border border-gray-600"
          />
        }
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired
        >{{ "Tóm tắt ngắn" | translate }}
      </nz-form-label>
      <nz-form-control>
        <textarea
          nz-input
          formControlName="summary"
          rows="5"
          [placeholder]="'Mô tả ngắn gọn...' | translate"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- QUILL EDITOR -->
  <nz-form-item>
    <nz-form-label nzRequired>{{ "Nội dung" | translate }}</nz-form-label>
    <nz-form-control [nzSpan]="24">
      <quill-editor
        formControlName="content"
        [modules]="quillConfig"
        [styles]="{
          height: '25rem',
          backgroundColor: 'f0f0f0',
          color: 'black',
        }"
        class="block-lg"
      ></quill-editor>
    </nz-form-control>
  </nz-form-item>

  <!-- TYPE & STATUS -->
  <div class="grid grid-cols-2 gap-6">
    <nz-form-item>
      <nz-form-label>{{ "Danh mục" | translate }}</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="type">
          <nz-option
            [nzValue]="ArticleType.UNKNOWN"
            [nzLabel]="'Chưa xác định' | translate"
          ></nz-option>
          <nz-option
            [nzValue]="ArticleType.NEWS"
            [nzLabel]="'Tin tức' | translate"
          ></nz-option>
          <nz-option
            [nzValue]="ArticleType.PROMOTION"
            [nzLabel]="'Khuyến mãi' | translate"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{ "Trạng thái" | translate }} </nz-form-label>
      <nz-form-control>
        <nz-select formControlName="status">
          <nz-option
            [nzValue]="ArticleStatus.DRAFT"
            [nzLabel]="'Bản nháp (Draft)' | translate"
          ></nz-option>
          <nz-option
            [nzValue]="ArticleStatus.PUBLISHED"
            [nzLabel]="'Công khai (Published)' | translate"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- FOOTER -->
  <div
    class="absolute bottom-0 left-0 w-full bg-white border-t border-gray-200 p-4 flex justify-end gap-3 z-50 shadow-md"
  >
    <button nz-button nzType="default" (click)="close()">
      {{ "Hủy bỏ" | translate }}
    </button>
    <button
      nz-button
      nzType="primary"
      [nzLoading]="isLoading()"
      (click)="submit()"
    >
      {{ (nzData.isEditMode ? "Cập nhật" : "Đăng bài") | translate }}
    </button>
  </div>
</form>
